# Ignore everything
*

# Track the following:

# This file
!.gitignore

# Build system - CMake
!CMakeLists.txt
!CMakeLists_gtest.txt

# Dependencies - any third-party sources or binaries
!deps
# Internal - dependencies that added manually to the project
!deps/internal
!deps/internal/**
# External - dependencies that are downloaded by CMake
# They shall not be under version control
#/deps/external

# Project sources and headers
!src
!src/**
